.done {
    text-decoration: line-through;
    background-color: green;
}

.incomplete {
    background-color: red;
}

.column {
    width: 30%;
    float: left;
    margin: 1.666667%;
}

table {
    border: 1px solid black;
}